<footer class="footer">
  <div class="contact-info">
    <span class="arrow-up" style="flex: 1;">
      <a href="#" id="back-to-top">
        <img src="{{ '/assets/arrow.svg' | relative_url }}" alt="back-to-top" />
      </a>
    </span>
    <span style="flex: 1;" class="hide-on-mobile"></span>
    <span style="flex: 1;">
      <a href="mailto:matthewkim90162@gmail.com">matthewkim90162@gmail.com</a>
    </span>
    <span style="flex: 1;">
      <a href="tel:+821040857100">+821040857100</a>
    </span>
  </div>
</footer>