<header class="mobile-header">
  <a class="logo" href="{{ '/' | relative_url }}" aria-label="Go to home">
    <img src="{{ '/assets/logo.svg' | relative_url }}" alt="mat.K" />
  </a>
  <nav class="top-links" aria-label="Primary">
    <a href="#" id="work-link" class="top-link">WORK</a>
    <a href="{{ '/pages/about.html' | relative_url }}" class="top-link" id="about-link">ABOUT</a>
  </nav>
</header>
<div class="nav-overlay"></div>
<nav class="left-nav" id="mobile-drawer">
  <div class="logo">
    <a href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/logo.svg' | relative_url }}" alt="mat.K" />
    </a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="{{ '/pages/wellbuy.html' | relative_url }}" class="nav-link">
          wellbuy <span class="tag">(identity)</span>
        </a>
      </li>
      <li>
        <a href="{{ '/pages/democracy.html' | relative_url }}" class="nav-link">
          <span style="font-family: AppleSDGothicNeo, sans-serif; font-weight: 400; letter-spacing: -1px;">민주인권기념관</span>
          <span class="tag">(identity)</span>
        </a>
      </li>
      <li>
        <a href="{{ '/pages/tashu.html' | relative_url }}" class="nav-link">
          Tashu <span class="tag">(app)</span>
        </a>
      </li>
      <li>
        <a href="{{ '/pages/immuone.html' | relative_url }}" class="nav-link">
          immuone <span class="tag">(app)</span>
        </a>
      </li>
      <li>
        <a href="{{ '/pages/shanghai-branding.html' | relative_url }}" class="nav-link">
          Shanghai <span class="tag">(city branding)</span>
        </a>
      </li>
      <li>
        <a href="{{ '/pages/loop.html' | relative_url }}" class="nav-link">
          Loop <span class="tag">(transportation)</span>
        </a>
      </li>
      <li>
        <a href="{{ '/pages/lego.html' | relative_url }}" class="nav-link">
          LEGO <span class="tag">(editorial)</span>
        </a>
      </li>
      <li>
        <a href="{{ '/pages/naming-process.html' | relative_url }}" class="nav-link">
          Naming<span class="tag">(thesis)</span>
        </a>
      </li>
      <li>** <span class="tag">(typography)</span></li>
    </ul>
  </nav>
  <div class="extra">
    <ul>
      <li>
        <a href="{{ '/pages/about.html' | relative_url }}" class="nav-link">ABOUT</a>
      </li>
      <li>
        <a href="{{ '/pages/others.html' | relative_url }}" class="nav-link">MISC</a>
      </li>
    </ul>
    <span class="tag">ⓒ Mat.K 2025</br>all rights reserved</span>
  </div>
</nav>
