---
layout: default
title: Naming Process
---

<div>
    <div class="description">
        <h1 > Naming </h1>
        <p1 style="padding-right: 64px;"> 장기간 연구한 브랜드 네이밍을 적용하기 위해 3개의 제품 브랜드를 선정하였습니다.
            해당 브랜드가 더 확장된 시장에서 더 나은 이미지를 형성하도록 저는 각 제품의 본질을 탐구하고
            브랜딩의 방향을 제시하여 새 시장에서 인식을 강화하도록 브랜드 가치를 제공합니다.
        </p1>
    </div>

    <div class="gallery-wrap">
    {% for i in (1..88) %}
    {% assign num = i %}
    {% if i < 10 %}{% assign num = '0' | append: i %}{% endif %}
    <img class="img" src="{{ '/assets/naming/namingImages' | relative_url }}{{ num }}.png" alt="이미지 {{ num }}">
    {% endfor %}
    </div>
</div>  